
/*Set all HTML elements to border-box sizing*/
* {
  box-sizing: border-box;
}

/*Styles for the main page*/
.wrapper {  
    margin: auto;
    background-color:lightgray;
    color: darkslateblue;
    }

/*Styles for the header elements*/
header {
    color: darkslateblue;
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 175px;
    } 
h1 {
    font-size: 26px;
    padding-top: 60px;
    padding-bottom: 2px;
    margin-bottom: 0px;
    }
header h2 {
    padding-top: 0px;
    margin-top: 0px;
    }

/*Styles for the body*/
body{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    background-color: black;
    }

/*Styles for the main elements*/
main {
    background-color: slategray;
    color: white;
    text-align: center;
    }    
h3 {
    margin-top: 2px;
    margin-bottom: 0px;
    }

/*Styles for the footer elements*/
footer {
    color: darkslateblue;
    background-color: lightgray;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding-top: 5px;
    height: 75px;
    }

/*Styles for the list elements*/
ol, ul {
    list-style-position: inside;
    text-align: left;
    max-width: 500px;
    margin:auto;
    }

/*Set the margin and padding for the article and sections*/
article {
    margin-top: 25px;
    padding-top: 20px;
    }
section {
    padding: 15px;  
    }

/*Center the text of this class element*/
.text-center {
    max-width: 600px;
    text-align: justify;
    margin: auto;
    }

/*Create a custom font for the header and footer*/
.custom-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-transform: uppercase;  
    letter-spacing: 6px;
}

/*Style and center the img element*/
 img {
    max-width: 300px;
    margin: auto;
    border: 3px solid darkslateblue;
 }

/*Styles for the link elements*/
a  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    }
  
  a:link    { color: blue;  }
  a:visited { color: purple;   }
  a:hover   { color: black; }
  a:active  { color: pink;  }

